@import "tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite-react/plugin/tailwindcss";
@source "../flowbite-react/class-list.json";

::-webkit-scrollbar {
  width: 5px;
}

.font-roboto{
  font-family: "Inter", "san-serif";
}

.font-anton{
  font-family: "Oswald", "sans-serif";
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fbbf24;
  border-radius: 9999px;
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter_18pt-Medium.ttf');

  font-family: 'Oswald';
  src: url('../src/assets/fonts/Oswald-Bold.ttf');
}

@theme{
  --font-Briston: "Briston", "sans-serif";
  --font-Roboto: "Roboto", "sans-serif";
}
